# GEMINI_API_KEY: Clé obligatoire pour faire fonctionner l'IA Gemini.
GEMINI_API_KEY="AIzaSy"

# APP_URL: L'adresse de votre site web en ligne.
APP_URL="https://netlify.app"

# Configuration Nodemailer SMTP pour l'envoi d'e-mails réels.
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="ronanswerdna@gmail.com"
SMTP_PASS="le_code_jaune_de_16_lettres"
